body {
    font-family: "Roboto", sans-serif;
}
.nav-links {
    list-style: none;
    margin: 45px;
    padding: 0;
    justify-items: end;
}

.alert-info {
    font-size: 0;

}

.header-img img {
    width: 100%;
}

.column.c1 {
    max-width: 750px;
}

.container.footer {
    min-height: 100px;
}

@media screen and (max-width: 500px) {
    .alert-info {
        font-size: 1em;
        background-color: #CCFFFF;
        border: 1px solid #CCC;
        padding: 10px;
    }

    .row.p {
        flex-wrap: wrap;
    }

    .container.footer {
        justify-content: end;
        min-height: 125px;
    }

    a.mainSkip {
        color: black;
        text-decoration: none;
    }


    .navRow {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }
    .listBackground {
        background-color: #CCC;
        width: 400px;
        height: 50px;
        text-align: center;
        padding: 15px 0;
    }

    .company-name {
        font-size: xx-large;
    }
    .column.c1, .column.c2 {
        font-size: x-large;
    }

}



