

.nav-links{
    list-style: none;
    margin: 45px;
    padding: 0;
    justify-items: end;
}

.alert-info {
    font-size: 0;

}

.header-img img {
    width: 100%;
}

.column.c1 {
    max-width: 750px;
}

@media screen and (max-width: 500px){
    .alert-info {
        font-size: 1em;
    }
}



